*{padding: 0;margin: 0;box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

body{
    height: 100vh;
    background-color: #000000;
    }
 
 .topnav{
  background-color: black;
  overflow: hidden;
  width: 100%;
    }

  .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   font-family:'Spinnaker', sans-serif;
   padding: 30px;
   text-decoration: none;
   margin-left: 150px;
   font-size: 29px;
   width: 23.33%; 
   text-align: center; /* If you want the text to be centered */
        }

  .dropdown {
   float: left;
   overflow: hidden;
   }

 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 100px;
  box-sizing: 30px 40px;
  box-shadow: 0px 8px 5px 5px rgba(232, 247, 145, 0.2);
  z-index: 1;
    }

/* Style the links inside the dropdown */
.dropdown-content a {
 float: none;
 color: rgb(255, 255, 255);
 padding: 50px 60px;
 font-size: 18px;
 font-family:'Spinnaker', sans-serif;
 text-decoration: none;
 display: block;
 text-align: center;
 margin-left: 10px;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
 background-color: rgb(255, 255, 255); 
 box-sizing: content-box;
 color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
 display: block;
}

main{
    background-color: black;
    border-style:solid;
    border-color: rgb(176, 199, 238);
    border-width: 5px 5px 5px 5px;
    margin: 50px;;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    }

#can{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #000000;
    border:0px solid #040b24; 
}
#score_board{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:854px;
    height: 480px;
    text-align: center;
    padding: 12px;
    background-color: transparent;
    color: #ccc;
    font-size: 2.0em;
    font-family: monospace;
}

.next{
  text-align: right;
  margin-bottom: 70px;
  margin-top: 650px;
  margin-right: 100px;
}
.next a{
  border: 4px solid #faf7d8;
  color: #ffffff;
  font-size: 20px;
  transition:  all 0.4s;
  background-color: rgb(0, 0, 0);
  width: 30px;
  padding: 30px;
  text-decoration: none;
}

.next:hover {
  margin-top: -0.2rem;
}


/* target only screens up to 1202px */
@media only screen and (max-width: 1202px){
 
  .topnav{
    background-color: black;
    overflow: hidden;
    width: 100%;
      }
  
    .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     font-family:'Spinnaker', sans-serif;
     text-decoration: none;
     margin-left: 70px;
     font-size: 20px;
     width: 30.33%; 
     text-align: center; /* If you want the text to be centered */
    }

    .dropdown {
      float: left;
      overflow: hidden;
     }
         
    .dropdown-content {
       display: none;
       position: absolute;
       background-color: #000000;
       min-width: 100px;
       box-sizing: 30px 40px;
       box-shadow: 0px 3px 5px 5px rgba(255, 255, 255, 0.2);
       z-index: 1;
       }
      
     .dropdown-content a {
      float: none;
      color: rgb(255, 255, 255);
      padding: 40px 40px;
      font-size: 18px;
      font-family:'Spinnaker', sans-serif;
      text-decoration: none;
      display: block;
      text-align: center;
      margin-left: 30px;
       }
         
     .dropdown-content a:hover {
       background-color: rgb(255, 255, 255); 
       box-sizing: content-box;
       color: black;
        }
         
 /* Show the dropdown menu when the user moves the mouse over the dropdown button */
      .dropdown:hover .dropdown-content {
              display: block;
         }
         
   .next a{
     border: 10px solid #ffffff;
     color: #ffffff;
     margin-left: 480px;
     font-size: 20px;
     transition:  all 0.4s;
     background-color: rgb(0, 0, 0);
     width: 60px;
     padding: 30px;
     margin-bottom: 100px;
     border: 2px solid rgb(253, 253, 255);
     text-decoration: none;
       }
    }

    /* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  
  .topnav{
    background-color: black;
    overflow: hidden;
    width: 100%;
      }
  
    .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     font-family:'Spinnaker', sans-serif;
     text-decoration: none;
     margin-left: 10px;
     font-size: 18px;
     width: 28.33%; 
     text-align: center; /* If you want the text to be centered */
    }
   
    .dropdown {
      float: left;
      overflow: hidden;
     }
         
    .dropdown-content {
       display: none;
       position: absolute;
       background-color: #000000;
       box-sizing: 30px 40px;
       box-shadow: 0px 3px 5px 5px rgba(248, 242, 242, 0.2);
       z-index: 1;
       }
      
     .dropdown-content a {
      float: none;
      color: rgb(255, 255, 255);
      padding: 20px 20px;
      font-size: 18px;
      font-family:'Spinnaker', sans-serif;
      text-decoration: none;
      display: block;
      text-align: center;
      margin-left: 0px;
       }
         
     .dropdown-content a:hover {
       background-color: rgb(255, 255, 255); 
       box-sizing: content-box;
       color: black;
        }
         
      .dropdown:hover .dropdown-content {
       display: block;
        }

      main{
       background-color: black;
       border-style:solid;
       margin: 50px;;
       margin-top: 10px;
       margin-bottom: 0px;
       text-decoration: none;
          }

      .next{
       text-align: right;
       margin-bottom: 70px;
       margin-top: 550px;
       margin-right: 100px;
      }
  
      .next a{
       border: 10px solid #ffffff;
       color: #ffffff;
       margin-left: 20px;
       font-size: 20px;
       transition:  all 0.4s;
       background-color: rgb(0, 0, 0);
       width: 20px;
       padding: 10px;
       margin-bottom: 10px;
       border: 2px solid rgb(253, 253, 255);
       text-decoration: none;
       }
    }





