*{padding: 0;margin: 0;box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

body{
    height: 100vh;
    background-color: #000000;
    }
 
 .topnav{
  background-color: black;
  overflow: hidden;
  width: 100%;
    }

  .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   font-family:'Spinnaker', sans-serif;
   padding: 30px;
   text-decoration: none;
   margin-left: 150px;
   font-size: 29px;
   width: 23.33%; 
   text-align: center; /* If you want the text to be centered */
        }

  .dropdown {
   float: left;
   overflow: hidden;
   }

 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 100px;
  box-sizing: 30px 40px;
  box-shadow: 0px 8px 5px 5px rgba(232, 247, 145, 0.2);
  z-index: 1;
    }

/* Style the links inside the dropdown */
.dropdown-content a {
 float: none;
 color: rgb(255, 255, 255);
 padding: 50px 60px;
 font-size: 18px;
 font-family:'Spinnaker', sans-serif;
 text-decoration: none;
 display: block;
 text-align: center;
 margin-left: 10px;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
 background-color: rgb(255, 255, 255); 
 box-sizing: content-box;
 color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
 display: block;
}

main{
    background-color: black;
    margin: 50px;;
    margin-top: 680px;
    margin-bottom: 10px;
    text-decoration: none;
    }

#can{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #000000;
    border:0px solid #040b24; 
}
.button {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 300px;
  font-size: 1.5em;
  margin: 0 auto;
  width: 15%;
  padding: 28px;
  border: 5px solid;
  border-color: #9793e6;
  background-color: rgba(16, 16, 16, 0.2);
  transition: 0.35s;
}
.button a, active {
  text-decoration: none;
  color: #fffffd;
}
.button a:hover {
  text-decoration: none;
  color: black;
}
.button:hover {
  color: black;
  background-color: white;
  border-color: white;
  transition: 0.35s;
}



/* target only screens up to 1202px */
@media only screen and (max-width: 1202px){
 
  .topnav{
    background-color: black;
    overflow: hidden;
    width: 100%;
      }
  
    .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     font-family:'Spinnaker', sans-serif;
     text-decoration: none;
     margin-left: 70px;
     font-size: 20px;
     width: 28.33%; 
     text-align: center; /* If you want the text to be centered */
    }

    .dropdown {
      float: left;
      overflow: hidden;
     }
         
    .dropdown-content {
       display: none;
       position: absolute;
       background-color: #000000;
       min-width: 100px;
       box-sizing: 30px 40px;
       box-shadow: 0px 3px 5px 5px rgba(255, 255, 255, 0.2);
       z-index: 1;
       }
      
     .dropdown-content a {
      float: none;
      color: rgb(255, 255, 255);
      padding: 40px 40px;
      font-size: 18px;
      font-family:'Spinnaker', sans-serif;
      text-decoration: none;
      display: block;
      text-align: center;
      margin-left: 30px;
       }
         
     .dropdown-content a:hover {
       background-color: rgb(255, 255, 255); 
       box-sizing: content-box;
       color: black;
        }
         
 /* Show the dropdown menu when the user moves the mouse over the dropdown button */
      .dropdown:hover .dropdown-content {
              display: block;
         }
         
         .button {
          text-align: center;
          margin-top: 300px;
          margin-bottom: 300px;
          font-size: 1.5em;
          margin: 0 auto;
          width: 15%;
          padding: 8px;
          border: 5px solid;
          border-color:#9793e6;
          background-color: rgba(16, 16, 16, 0.2);
          transition: 0.35s;
        }
        .button a, active {
          text-decoration: none;
          color: #fffffd;
        }
        .button a:hover {
          text-decoration: none;
          color: black;
        }
        .button:hover {
          color: black;
          background-color: white;
          border-color: white;
          transition: 0.35s;
        }
        
    }

    /* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  
  .topnav{
    background-color: black;
    overflow: hidden;
    width: 100%;
      }
  
    .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     font-family:'Spinnaker', sans-serif;
     text-decoration: none;
     margin-left: 10px;
     font-size: 18px;
     width: 28.33%; 
     text-align: center; /* If you want the text to be centered */
    }
   
    .dropdown {
      float: left;
      overflow: hidden;
     }
         
    .dropdown-content {
       display: none;
       position: absolute;
       background-color: #000000;
       box-sizing: 30px 40px;
       box-shadow: 0px 3px 5px 5px rgba(248, 242, 242, 0.2);
       z-index: 1;
       }
      
     .dropdown-content a {
      float: none;
      color: rgb(255, 255, 255);
      padding: 20px 20px;
      font-size: 18px;
      font-family:'Spinnaker', sans-serif;
      text-decoration: none;
      display: block;
      text-align: center;
      margin-left: 0px;
       }
         
     .dropdown-content a:hover {
       background-color: rgb(255, 255, 255); 
       box-sizing: content-box;
       color: black;
        }
         
      .dropdown:hover .dropdown-content {
       display: block;
        }

        main{
          background-color: black;
          margin: 50px;;
          margin-top: 550px;
          margin-bottom: 0px;
          text-decoration: none;
             }
   
             .button {
               text-align: center;
               margin-top: 300px;
               margin-bottom: 300px;
               font-size: 20px;
               margin: 0 auto;
               width: 45%;
               padding: 8px;
               border: 5px solid;
               border-color: #9793e6;
               background-color: rgba(16, 16, 16, 0.2);
               transition: 0.35s;
             }
             .button a, active {
               text-decoration: none;
               color: #fffffd;
             }
             .button a:hover {
               text-decoration: none;
               color: black;
             }
             .button:hover {
               color: black;
               background-color: white;
               border-color: white;
               transition: 0.35s;
             }
             
          
    }





